<h2>Users page</h2>
<h3>List of users</h3>
<ul>
  <% @users.each do |user| %>
  <li>
    <%= user.name%>
  </li>
  <% end %>
</ul>

<h3>Details of users</h3>
<table>
  <thead>
    <tr>
    <th>
      ID
    </th>
    <th>
      NAME
    </th>
    <th>
      EMAIL
    </th>
    <th>
      ADDRESS
    </th>
    <th>
      PASSWORD
    </th>
    <th>
      CC_NUMBER
    </th>
    <th>
      DATE JOINED
    </th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
  <tr>
    <th>
      <%= user.id %>
    </th>
    <th>
      <%= user.name %>
    </th>
    <th>
      <%= user.email %>
    </th>
    <th>
      <%= user.address %>
    </th>
    <th>
      <%= user.password %>
    </th>
    <th>
      <%= user.cc_number %>
    </th>
    <th>
      <%= user.date_joined %>
    </th>

  </tr>
  <% end %>
</tbody>
</table>
