<h2>Admin View: Category details</h2>

<p>
  <strong>Category ID:</strong> <%= @category[:id] %>
  <br>
  <strong>Category Name:</strong> <%= @category[:name] %>
  <br>
  <strong>Category Description:</strong> <br>
  <%= @category[:description] %>
</p>

<p>
  This category was first listed on <%= @category[:created_at] %>
  <br>
  This record was last updated on <%= @category[:updated_at] %>
</p>


<a href="<%= @category[:id] %>/edit ">Edit Category</a>
