<h2>Admin view: Users page</h2>
<a href="users/new">Register new user</a>
<h3>List of users</h3>
<table>
  <thead>
    <tr>
      <th> ID </th>
      <th> Name </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
      <tr>
        <th><%= user[:id]%></th>
        <th><%= user[:name]%></th>
        <th>
          <!--syntax for show  -->
          <a href="users/<%= user[:id] %>">View</a> |
          <!--syntax for edit  -->
          <a href="users/<%= user[:id] %>/edit ">Edit</a> |
          <!--syntax for delete  -->
          <!-- <a href="users/<%= user[:id] %>/delete">Delete</a> -->
          <form action="/users/<%= user[:id] %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
          </form>
        </th>
      </tr>
      <% end %>
  </tbody>
</table>
