<h2> Admin View: User Details</h2>

<p>
  A member of Redmart since <%= @user[:created_at] %>
  <br>
  This record was last updated on <%= @user[:updated_at] %>
</p>

<h3>Account details</h3>
<p>
  <strong>User ID:</strong> <%= @user[:id] %>
  <br>
  <strong>User name:</strong> <%= @user[:name] %>
  <br>
  <strong>Email address:</strong> <%= @user[:email] %>
  <br>
  <strong>User password:</strong> <%= @user[:password] %>
</p>


<h3>Billing details</h3>
<p>
  <strong>Address:</strong> <%= @user[:address] %>
  <br>
  <strong>Credit card number:</strong> <%= @user[:cc_number] %>
</p>

<a href="<%= @user[:id] %>/edit ">Edit User</a>
<!--
<%= @columns %>
<%= @table %>
 -->
