<h2> <%= @user.name %> </h2>
<p>
  A member of Redmart since <%= @user[:created_at] %>
  <br>
  This record was last updated on <%= @user[:updated_at] %>
</p>

<h3>Account details</h3>
<p>
  Email address: <%= @user[:email] %>
  <br>
  User password: <%= @user[:password] %>
</p>


<h3>Billing details</h3>
<p>
  Address: <%= @user[:address] %>
  <br>
  Credit card number: <%= @user[:cc_number] %>
</p>

<a href="<%= @user[:id] %>/edit ">Edit User</a>
<!--
<%= @columns %>
<%= @table %>
 -->
