<h2>Admin View: Product details </h2>

<p>
  <strong>Product ID:</strong> <%= @product[:id] %>
  <br>
  <strong>Product Name:</strong> <%= @product[:name] %>
  <br>
  <strong>Product Description:</strong> <br>
  <%= @product[:description] %>
  <br>
  <strong>Brand ID:</strong> <%= @product[:brand_id] %>
  <br>
  <strong>Category ID:</strong> <%= @product[:category_id] %>
  <br>
  <strong>Price:</strong> $<%= @product[:price] %>
</p>

<p>
  Product was first listed on <%= @product[:created_at] %>
  <br>
  This record was last updated on <%= @product[:updated_at] %>
</p>

<a href="<%= @product[:id] %>/edit ">Edit Product</a>
