<h2>Admin View: Brand details</h2>

<p>
  <strong>Brand ID:</strong> <%= @brand[:id] %>
  <br>
  <strong>Brand Name:</strong> <%= @brand[:name] %>
</p>

<p>
  This brand was first listed on <%= @brand[:created_at] %>
  <br>
  This record was last updated on <%= @brand[:updated_at] %>
</p>

<a href="<%= @brand[:id] %>/edit ">Edit Brand</a>
